[project]
	description = A UIViewController subclass for presenting side view controllers inspired on the FaceBook and Wunderlist apps, done right !
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cole Markham (colemarkham)
[access "refs/for/refs/*"]
	read = group user/Cole Markham (colemarkham)
	push = group user/Cole Markham (colemarkham)
	label-Code-Review = -2..+2 group user/Cole Markham (colemarkham)
	label-Verified = -1..+1 group user/Cole Markham (colemarkham)
	rebase = group user/Cole Markham (colemarkham)
	removeReviewer = group user/Cole Markham (colemarkham)
	submit = group user/Cole Markham (colemarkham)
[access "refs/heads/*"]
	read = group user/Cole Markham (colemarkham)
	create = group user/Cole Markham (colemarkham)
	push = +force group user/Cole Markham (colemarkham)
	pushMerge = group user/Cole Markham (colemarkham)
[access "refs/tags/*"]
	push = +force group user/Cole Markham (colemarkham)
	pushTag = group user/Cole Markham (colemarkham)
	pushSignedTag = group user/Cole Markham (colemarkham)
